<html>
    <head>
        <title>UrlShortener - Home</title>
    </head>
    <body>
        <form method="post" action="/home">
            <h1>URL SHORTENER</h1>
        <label>Enter the original URL</label>
        <input type="text" name="url"/>
        <button type="submit">Generate</button>
        </form>
        <% if (locals.generatedUrl) { %>
            <p>The shortened url is http://localhost:8000/shorturl/<%= generatedUrl %></p>
        <% } %> 
    </body>
</html>