<html>
    <head>
        <title>UrlShortener - signUp</title>
    </head>
    <body>
        <form method="post" action="/signUp">
            <h1>URL SHORTENER</h1>
        <label>username</label>
        <input type="text" name="username"/>
        <br/>
        <label>email</label>
        <input type="text" name="email"/>
        <br/>
        <label>password</label>
        <input type="text" name="password"/>
        <br/>
        <button type="submit">Submit</button>
        </form> 
    </body>
</html>